body {
  font-family: 'Mulish', sans-serif;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


.NavBar {
  color: black;
  background-color: white;
  text-align: right;
  position: fixed;
  top: 0;
  width: 100%;
  height: 90px;
  z-index: 9999;

}
.navlinks {
  text-decoration: none;
}

.RightLinks {
  background-color: #FFFFFF;
}

/* Nav Bar - main page */
.Logo {
  font-family: 'Nanum Brush Script', cursive;
  font-size: 60px;
  color: black;
  left:0;
  float: left;
  margin-right: 120px;
  margin-top: 0px;
  margin-left: 20px;
  text-decoration: none;
}
.Logo:hover {
-webkit-transform: scale(1.1);
        -ms-transform: scale(1.1);
        transform: scale(1.1);
}

/* Signin or Signup Page */
.login_card {
  text-align: center;
  margin-left: 35%;
  margin-top: 15%;
  padding-top: 5%;
  padding-bottom: 5%;
  border-radius: 5%;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.SignInBtn {
  background-color: black;
  border: solid;
  border-width: 2px;
  border-radius: 15%;
  color: white;
  padding: 5px 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 15px;
  margin: 10px;
}

.SignInBtn:hover {
  background-color: white;
  color: black;
  cursor: pointer;
}


.Signin {
  margin-top: 200px;
  text-align: center;
}

.Signup {
  float: left;
  width: 30%;
  padding: 30px;
  margin: 10px;
  margin-left: 200px;
}


/* SearchBar */
.SearchContainer {
  background: linear-gradient(to right, #a81dc4 39%, #f39ce7 99%);
  color: white;
  padding: 30px;
  margin-top: 70px;
  position: fixed;
  width: 100%;
  z-index: 8888;
}

.AllThree {
  width: 100%;
  float: center;
  padding: 30px;
  margin-top: 90px;
}

.LeftComponent {
  background-color: #FFFFFF;
  text-align: center;
  width: 18%;
  float: left;
  padding: 30px;
  margin: 10px;
}

.CenterComponent {
  background-color: white;
  width: 40%;
  float: left;
  padding: 30px;
  margin-top: 10px;
  column-count: 3;
  margin-left: 0px;
  margin-bottom: 100px;
}

/* Right Component */

.RightComponent {
  background-color: #FFFFFF;
  width: 20%;
  float: left;
  padding: 30px;
  margin: 10px;
  text-align: center;
}

.cuisine-card {
  background-color: white;
  border-style: solid;
  border-width: 1px;
  border-radius: 15px;
}

/* Footer code */

.Footer {
  background-color: black;
  font-size: 12px;
  color: white;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 40px;
  text-align: center;
}

.footer-link {
  color: white;
}

.NavLinks {
  right: 0;
  float: right;
  padding: 20px;
}



.SearchBar {
  float: left;
  padding: 40px;
  margin-left: 0px;
  margin-right: 10px;
  width: 400px;
}

.Search:focus {
  width: 100%;
}

.Submit {
  border-radius: 10px;
  cursor: pointer;
  background-color: white;
  color: black;
}

.Submit:hover {
  border-radius: 10px;
  cursor: pointer;
  background-color: black;
  color: white;
}

.FlipCard{
  background-color: transparent;
  width: 300px;
  height: 200px;
  border: 1px solid #f1f1f1;
  perspective: 1000px;
}

.flip-card-inner{
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}

.FlipCard:hover .flip-card-inner {
  transform: rotateY(180deg);
}


.CardBack {
  background-color: rgb(194, 189, 189);
  border: 1px dashed;
  padding: 20px;
  margin: 10px;
  border-radius: 15px;
}

.Flippy {
  z-index: 8888;
  border-radius: 15px;
  text-align: center;
}

.MeetupCard {
  background-color: #3366cc;
  padding: 10px;
  margin-right: 15px;
  margin-left: 15px;
  margin-bottom: 15px;
  border-radius: 10px;
  text-align: center;
  color: white;
  height: 160px;
  opacity: 0.5;
}

  /* .MeetupCard:hover {
    opacity:1;
    border-radius:50%;
    cursor: pointer;
  } */

  /* a:link, a:visited {
    color: black;
    padding: 1px;
    margin: 5px;
    text-align: center;
    text-decoration: none;
    border-radius: 5px;
  } */
  
  /* a:hover, a:active {
    text-decoration: none;
    text-transform: uppercase;
    color: black;
    cursor: pointer;
  } */

  /* Center Component Profile */
 

  .Checkboxes {
    float: left;
    width: 30%;
    padding: 30px;
    margin-top: 220px;
    column-count: 2;
  }

  .CommentCard:hover {
    font-weight: 700;
  }

  /* Meetup Details code */
  .MeetupDetails {
    text-align: center;
    margin-right: 30px;
    margin-top: 50px;
    margin-left: 30px;
  }

  .comment-box {
    width: 250px;
    height: 100px;
    margin: 20px;
  }

  .hr {
    width: 18%;
    margin-top: 30px;
    margin-bottom: 30px;
  }

  .CenterComponentProfile {
    background-color: darkgrey;
    width: 40%;
    float: left;
    padding: 30px;
    margin-top: 10px;
    text-align: center;
  }

  .ScrollingList {
    padding-top: 600px;
    animation: marquee infinite 60s linear;
  }

  @keyframes marquee {
    0%   { 
      -moz-transform: translate(0, 0);
      -webkit-transform: translate(0, 0);
      transform: translate(0, 0); }
      100% { 
      -moz-transform: translate(0, -100%);
      -webkit-transform: translate(0, -100%);
      transform: translate(0, -100%); }
  }

  .CreateMeetupBtn {
    border-radius: 10px;
    cursor: pointer;
  }

  .CreateMeetupBtn:hover {
    border-radius: 10px;
    cursor: pointer;
    background-color: #3366cc;
    color: white;
  }

  .MeetupForm {
    width: 60%;
    padding: 5px 20px;
    margin: 8px 5px;
    box-sizing: border-box;
    border-radius: 5px;
  }

  .MeetupForm:focus {
    border: 2px solid black;
  }

  .OutsideForm {
    border: 10px solid;
    margin: 10px; 
    padding: 10px;
    border-radius: 20px;
    background-color: #33cccc;
    color: white;
  }

  .OutsideForm:hover {
    opacity:1;
  }

  .SignInForm {
    width: 30%;
    padding: 5px 20px;
    margin: 8px 5px;
    box-sizing: border-box;
    border-radius: 5px;
  }

  .SignInForm:focus {
    border: 2px solid black;
  }

  .SignUpInput {
    width: 30%;
    padding: 5px 20px;
    margin: 8px 5px;
    box-sizing: border-box;
    border-radius: 5px;
  }

  .SignUpInput:focus {
    border: 2px solid black;
  }

  .checkbox {
    display: inline-flex;
    cursor: pointer;
    position: relative;
}

.checkbox > span {
    color: #34495E;
    padding: 0.5rem 0.23rem;
}

.checkbox > input {
    height: 20px;
    width: 20px;
    -webkit-appearance: none;
    -moz-appearance: none;
    -o-appearance: none;
    appearance: none;
    border: 1px solid white;
    border-radius: 15px;
    outline: none;
    transition-duration: 0.3s;
    background-color: pink;
    cursor: pointer;
  }

.checkbox > input:checked {
  border: 5px solid #3366cc;
    /* border: 5px solid black; */
    /* background-color: white; */
    background-color:  #0AA685 ;
}

.checkbox > input:active {
    border: 2px solid #34495E;
}



/* Inspo Page */
.btn{
  font-family: inherit;
  cursor: pointer;
  outline: 0;
  font-size: 1.05rem;
}
.text{
  opacity: 0.8;
}
.title{
  font-size: 2rem;
  margin-bottom: 1rem;
}

/*  */
.container{
  min-height: 100vh;
}
.meal-wrapper{
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  background: #fff;
  text-align: center;
}
.meal-search{
  margin: 2rem 0;
}
.meal-search cite{
  font-size: 1rem;
}
.meal-search-box{
  margin: 1.2rem 0;
  display: flex;
  align-items: stretch;
}
.search-control,
.search-btn{
  width: 100%;
}
.search-control{
  padding: 0 1rem;
  font-size: 1.1rem;
  font-family: inherit;
  outline: 0;
  border: 1px solid var(--tenne-tawny);
  color: var(--tenne-tawny);
  border-top-left-radius: 2rem;
  border-bottom-left-radius: 2rem;
}
.search-control::placeholder{
  color: var(--tenne-tawny);
}
.search-btn{
  width: 55px;
  height: 55px;
  font-size: 1.8rem;
  background: var(--tenne-tawny);
  color: #fff;
  border: none;
  border-top-right-radius: 2rem;
  border-bottom-right-radius: 2rem;
  transition: all 0.4s linear;
  -webkit-transition: all 0.4s linear;
  -moz-transition: all 0.4s linear;
  -ms-transition: all 0.4s linear;
  -o-transition: all 0.4s linear;
}
.search-btn:hover{
  background: var(--tenne-tawny-dark);
}
.meal-result{
  margin-top: 4rem;
}
#meal{
  margin: 2.4rem 0;
}
.meal-item{
  border-radius: 1rem;
  -webkit-border-radius: 1rem;
  -moz-border-radius: 1rem;
  -ms-border-radius: 1rem;
  -o-border-radius: 1rem;
  overflow: hidden;
  box-shadow: 0 4px 21px -12px rgba(0, 0, 0, 0.79);
  margin: 2rem 0;
}
.meal-img img{
  width: 100%;
  display: block;
}
.meal-name{
  padding: 1.5rem 0.5rem;
}
.meal-name h3{
  font-size: 1.4rem;
}
.recipe-btn{
  text-decoration: none;
  color: #fff;
  background: var(--tenne-tawny);
  font-weight: 500;
  font-size: 1.1rem;
  padding: 0.75rem 0;
  display: block;
  width: 175px;
  margin: 1rem auto;
  border-radius: 2rem;
  -webkit-border-radius: 2rem;
  -moz-border-radius: 2rem;
  -ms-border-radius: 2rem;
  -o-border-radius: 2rem;
  transition: all 0.4s linear;
  -webkit-transition: all 0.4s linear;
  -moz-transition: all 0.4s linear;
  -ms-transition: all 0.4s linear;
  -o-transition: all 0.4s linear;
}
.recipe-btn:hover{
  background: var(--tenne-tawny-dark);
}

/* meal details */
.meal-details{
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  color: #fff;
  background: var(--tenne-tawny);
  border-radius: 1rem;
  -webkit-border-radius: 1rem;
  -moz-border-radius: 1rem;
  -ms-border-radius: 1rem;
  -o-border-radius: 1rem;
  width: 90%;
  height: 90%;
  overflow-y: scroll;
  display: none;
  padding: 2rem 0;
}
.meal-details::-webkit-scrollbar{
  width: 10px;
}
.meal-details::-webkit-scrollbar-thumb{
  background: #f0f0f0;
  border-radius: 2rem;
  -webkit-border-radius: 2rem;
  -moz-border-radius: 2rem;
  -ms-border-radius: 2rem;
  -o-border-radius: 2rem;
}


/* js related */
.showRecipe{
  display: block;
}

.meal-details-content{
  margin: 2rem;
}
.meal-details-content p:not(.recipe-category){
  padding: 1rem 0;
}
.recipe-close-btn{
  position: absolute;
  right: 2rem;
  top: 2rem;
  font-size: 1.8rem;
  background: #fff;
  border: none;
  width: 35px;
  height: 35px;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0.9;
}
.recipe-title{
  letter-spacing: 1px;
  padding-bottom: 1rem;
}
.recipe-category{
  background: #fff;
  font-weight: 600;
  color: var(--tenne-tawny);
  display: inline-block;
  padding: 0.2rem 0.5rem;
  border-radius: 0.3rem;
  -webkit-border-radius: 0.3rem;
  -moz-border-radius: 0.3rem;
  -ms-border-radius: 0.3rem;
  -o-border-radius: 0.3rem;
}
.recipe-category{
  background: #fff;
  font-weight: 600;
  color: var(--tenne-tawny);
  display: inline-block;
  padding: 0.2rem 0.5rem;
  border-radius: 0.3rem;
  -webkit-border-radius: 0.3rem;
  -moz-border-radius: 0.3rem;
  -ms-border-radius: 0.3rem;
  -o-border-radius: 0.3rem;
}
.recipe-instruct{
  padding: 1rem 0;
}
.recipe-meal-img img{
  width: 100px;
  height: 100px;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  margin: 0 auto;
  display: block;
}
.recipe-link{
  margin: 1.4rem 0;
}
.recipe-link a{
  color: #fff;
  font-size: 1.2rem;
  font-weight: 700;
  transition: all 0.4s linear;
  -webkit-transition: all 0.4s linear;
  -moz-transition: all 0.4s linear;
  -ms-transition: all 0.4s linear;
  -o-transition: all 0.4s linear;
}
.recipe-link a:hover{
  opacity: 0.8;
}


/*  */
.notFound{
  grid-template-columns: 1fr!important;
  color: var(--tenne-tawny);
  font-size: 1.8rem;
  font-weight: 600;
  width: 100%;
}

/* Media Queries */
@media screen and (min-width: 600px){
  .meal-search-box{
      width: 540px;
      margin-left: auto;
      margin-right: auto;
  }
}

@media screen and (min-width: 768px){
  #meal{
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      gap: 2rem;
  }
  .meal-item{
      margin: 0;
  }
  .meal-details{
      width: 700px;
  }
}

@media screen and (min-width: 992px){
  #meal{
      grid-template-columns: repeat(3, 1fr);
  }
}